#page{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
background-color:#777;
width: 960px;
height:960px;
padding-bottom: 30px;
padding-top:10px;
}
    /* heading tag */
    
    #header {
      /* Put a 15-pixel margin at the bottom of the heading. */
      margin-bottom: 15px;
      /* Align the text to the center of its enclosing element (e.g. div). */
      text-align: center;
      /* The background of the heading element will now be black. */
      background-color: #ebebeb;
      /*width*/
      margin-left:50px;
      margin-right:50px;
      height:50px;
      color: #777;
      
    }
    
    /* Nav tag */
    
    #nav {
        /* Put a 15-pixel margin at the bottom of the heading. */
        margin-bottom: 15px;
        /* Align the text to the center of its enclosing element (e.g. div). */
        text-align: center;
        /* The background of the heading element will now be black. */
        background-color: #ebebeb;
        margin-left:50px;
        margin-right:50px;
        height:50px;
        color: #777;
      }
    /* Section tag */
    
    .row{
        display:table;
    }

      .column{
        /* Put a 15-pixel margin at the bottom of the heading. */
        margin-bottom: 15px;
        /* Align the text to the center of its enclosing element (e.g. div). */
        text-align: center;
        /* The background of the heading element will now be black. */
        background-color: #ebebeb;
        float:left;
        margin-left:50px;
        margin-right:50px;
        height:200px;
        width:350px;
        color: #777;
      }

      
      #footer {
        /* Put a 15-pixel margin at the bottom of the heading. */
        margin-bottom: 15px;
        /* Align the text to the center of its enclosing element (e.g. div). */
        text-align: center;
        /* The background of the heading element will now be black. */
        background-color: #ebebeb;
        margin-left:50px;
        margin-right:50px;
        height:50px;
        color: #777;
      }
    